.flex {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;

}

.search_container {
    display: flex;
    width: 400px;
    background: lightgray;
    padding: 5px;
    padding-bottom: 0px;
}

.searchBar {
    width: 430px;
    margin-left: 15px;
    margin-right: -35px;
}

.searchBar input {
    height: 34px;
}

.btn button {
    margin-top: 7px;
    height: 50px;
    width: 150px;
}