.flex {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.search_container {
  display: flex;
  gap: 5px;
}

.row{
    width: 70%;
    gap: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.searchBar {
  width: 430px;
  margin-left: 15px;
  margin-right: -35px;
}

.searchBar input {
  height: 34px;
}

.btn button {
  background-color: rgb(49, 151, 149);
}

.pagination {
  display: flex;
  justify-content: center;
}

.search_container input {
  height: 45px;
}

.select {
  width: 200px;
}

.card_container {
  min-height: 600px;
  width: 70%;
}
@media only screen and (max-width: 1300px) {
  .flex {
    width: 100%;
  }
  .card_container {
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .container {
    padding: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .flex {
    flex-direction: column;
  }
  .search_container {
    width: 100%;
    justify-content: space-between;
    order: 2;
  }
  .btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}
