.input{
    width: 215px;
    height: 25px;
    font-family: "Manrope" ;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 30px;
}
.input:hover{
  cursor: pointer;
  border: 1px solid rgb(0,0,0, 0.4);
}
.react-icon{
   opacity: 60% ;
   position: absolute;
   top: 4px;
   left: 9px;
}
.input-container{
    display: inline;
    position: relative;
}