* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;
  width: 33vw;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
}
.avatarPMContainer {
  display: flex;
  align-items: center;
}
.cardAvatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  background-color: white;
  margin-right: 10px;
}
.avatar {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.headerPMInfoContainer {
  display: flex;
  flex-direction: column;
}
.PMInfoContainer {
  display: flex;
  align-items: center;
}
.PMAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}
.PMName {
  font-size: 16px;
  opacity: 0.6;
}
.PMNameAdditional {
  font-size: 16px;
  font-weight: bold;
}
.cardHeader {
  font-size: 20px;
  padding-bottom: 10px;
}
.btnEmployeeInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.EmployeeInfo {
  padding-top: 22px;
  opacity: 0.6;
}
.cardContainerSecond {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;
  max-width: 33vw;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
}
.iconPmInfoContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
}
.noteIcon {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 1080px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }
  .btnEmployeeInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .avatarPMContainer {
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  .cardAvatar {
    width: 50px;
    height: 50px;
  }
  .cardHeader {
    font-size: 14px;
  }
  .PMAvatar {
    display: none;
  }
  .PMName {
    font-size: 12px;
  }
  .PMNameAdditional {
    font-size: 12px;
  }

  .EmployeeInfo {
    font-size: 12px;
  }
}
@media only screen and (max-width: 620px) {
  .iconPmInfoContainer {
    display: flex;
    flex-direction: column;
  }
  .noteIcon {
    order: 2;
    padding-top: 10px;
    width: 28px;
    height: 28px;
  }
  .PMAvatar {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .avatarPMContainer {
    display: flex;
    flex-direction: column;
  }
}
