* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  border-radius: 10px;
  background-color: #f6f8ff;
  padding: 15px;
  max-width: 33vw;
  align-items: center;
  justify-content: space-between;
}
.avatarPMContainer {
  display: flex;
  align-items: center;
}
.cardAvatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  background-color: white;
  margin-right: 10px;
}
.avatar {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.headerPMInfoContainer {
  display: flex;
  flex-direction: column;
}
.PMInfoContainer {
  display: flex;
}
.PMAvatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}
.PMName {
  font-size: 16px;
}
.cardHeader {
  font-size: 20px;
  padding-bottom: 10px;
}
.btnEmployeeInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.EmployeeInfo {
  padding-top: 22px;
}
@media only screen and (max-width: 1080px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
  }
  .btnEmployeeInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .avatarPMContainer {
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  .cardAvatar {
    width: 50px;
    height: 50px;
  }
  .cardHeader {
    font-size: 14px;
  }
  .PMAvatar {
    width: 15px;
    height: 15px;
  }
  .PMName {
    font-size: 12px;
  }
  .EmployeeInfo {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .avatarPMContainer {
    display: flex;
    flex-direction: column;
  }
}
