.btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
}

.btn:hover {
    cursor: pointer;
}

.trash{
    color: red;
    width: 150px;
    height: 20px;
}