.tabs {
  width: 100%;
  height: calc(100vh - 270px);
  max-height: calc(100vh - 270px);
  background: #f6f8ff;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

ul.nav {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: orange;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
  /* background-color: #eff1f8; */
  box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
  @media (max-width: 768px) {
    width: 90%;
  }
}

.categories_nav{
  display: flex;
}

ul.nav li {
  padding: 16px;
  display:flex;
  align-items: center;
  justify-content:center;
  list-style: none;
  text-align: center;
  cursor: pointer;
  /* transition: all 0.7s; */
  color: black;
  opacity: 0.6;
}

ul.nav li:hover {
  background: red;
  opacity: 1;
}

ul.nav li.active {
  background: red;
  opacity: 1;
}

.tabContent {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:10px;
}
