.tabs {
  width: 100%;
  height: calc(100vh - 270px);
  max-height: calc(100vh - 270px);
  background: whitesmoke;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul.nav {
  display: flex;
  align-items: center;
  background-color: #319795;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
  box-shadow: 0px 16px 30px -10px rgb(70 96 187 / 20%);
  @media (max-width: 768px) {
    width: 90%;
  }
}

.categories_nav {
  display: flex;
  align-items: center;
}
.backBtn {
  color: white;
  margin: 6px 5px 0px 10px;
}
ul.nav li {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  cursor: pointer;
  color: white;
}

ul.nav li:hover {
  background: #52a4a3;
  opacity: 1;
}

ul.nav li.active {
  background: darkgray;
  opacity: 1;
}

.tabContent {
  padding: 10px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.outlet {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 auto;
}

.option_row {
  display: flex;
  align-items: flex-end;
  padding: 20px 20px 0px 20px;
  gap: 25px;
}

.option_row > div input {
  height: 45px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sort_col {
  width: 250px;
}
@media only screen and (max-width: 1100px) {
  .tabContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 650px) {
  .tabContent {
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs {
    height: auto;
    max-height: fit-content;
  }
}
