.container {
  display: flex;
  justify-content: center;
}
.projectInfoHeader {
  grid-area: projectInfoHeader;
}
.projectInfo {
  grid-area: projectInfo;
  display: flex;
  flex-direction: column;
}
.membersHeader {
  grid-area: membersHeader;
}
.membersInfo {
  grid-area: membersInfo;
  display: flex;
  flex-direction: column;
}
.header {
  font-size: 22px;
}
.labelInputWrapper {
  display: flex;
  flex-direction: column;
}
.label {
  padding-bottom: 10px;
}
.inputContainer {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.file {
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 10px;
  margin-left: 10px;
  border: 1px solid lightgrey;
  font-size: 14px;
}
.textAreaContainer {
  display: flex;
  flex-direction: column;
}
.textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
  text-indent: 10px;
  padding: 5px;
  width: 80%;
  outline: none;
}
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
.contentContainer {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "projectInfoHeader projectInfo "
    "membersHeader membersInfo";
  row-gap: 30px;
  width: 80vw;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 30px 75px -30px hsl(229deg 6% 66%);
  border-top: 3px solid rgb(49, 151, 149);
}
.uploadPreview {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.imgPreview {
  width: 68px;
  border-radius: 10px;
  height: 68px;
  object-fit: cover;
}
@media only screen and (min-width: 1300px) {
  .contentContainer {
    width: 50vw;
  }
}
@media only screen and (max-width: 635px) {
  .textarea {
    width: 100%;
  }
  .file {
    padding: 4px 6px;
    font-size: 12px;
    text-align: center;
  }
  .contentContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "projectInfoHeader"
      "projectInfo "
      "membersHeader"
      "membersInfo";
    grid-gap: 10px;
    width: 95%;
    padding: 10px;
  }
}
