.wrapper{
    display: flex;
    flex-direction: column;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    min-height:700px;
}

.card_container{
    display:grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width:1200px;
}

@media screen and (max-width:1100px) {
    .card_container{
        grid-template-columns: repeat(2, 1fr);
    }
}