.container{
    height: 100px;
    background-color: rgb(211, 211, 211, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 130px;
}
.logo_container{
 display: flex;
 align-items: center;
}
.title{
    font-family: "Manrope";
    font-size: 22px;
    margin-bottom: -10px;
}
.paragraph{
    opacity: 50%;
    font-family: "Manrope";
    font-size: 14px;
}
.logo {
    height: 70px;
    padding-left: 90px;
    padding-right: 20px;
  }