.container {
  background-color: rgb(211, 211, 211, 0.3);
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}
.logo_container {
  display: flex;
  align-items: center;
  margin-left: 60px;
}
.title {
  font-size: 22px;
}
.paragraph {
  opacity: 50%;
  font-size: 14px;
  inline-size: 400px;
  overflow-wrap: break-word;
}
.logo {
  height: 60px;
  padding-left: 90px;
  padding-right: 20px;
}

.profile_picture {
  height: 40px;
  margin-right: -28px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.more {
  opacity: 50%;
  position: relative;
  left: 30px;
  bottom: 15px;
}
.profile_pictures {
  margin-left: -10px;
}
@media only screen and (max-width: 980px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
    }
    .info {
       margin-top: 40px;
      }
  }
  @media only screen and (max-width: 740px) {
    .info {
        margin-right: 0;
    }
  }
  @media only screen and (max-width: 640px) {
    .logo {
        padding-left: 0px;  
      }
  }
  @media only screen and (max-width: 500px) {
   .container{
       display: inline-block;
       margin-left: -20px;
   }
   .paragraph {
    font-size: 12px;
    inline-size: 200px;
  }
  }