.container {
    border-radius:5px;
    width: 1200px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    margin: 10px auto;
    padding:7px;
    background-color: rgb(170, 158, 158);
}

.logo {
    height: 50px;
    width: 50px;
    background-color:white;
    border-radius: 100%;
}